<td>{{meal.date | date: 'EEE dd'}}</td>
<td>{{meal.name}}
  <input [hidden]="!addMode" type="text" #name>
</td>
<td>
  <input [hidden]="!addMode" type="text" #price>
</td>
<td>
  <button *ngIf="!meal.name && !addMode" (click)="addNewMode()" type="button" class="btn btn-success" ><i class="fa fa-plus"></i></button>
  <button [hidden]="!addMode" type="button" class="btn btn-success" (click)="add(name.value,price.value)"><i class="fa fa-check"></i></button>
  <button [hidden]="!meal.name" type="button" class="btn btn-info" ><i class="fa fa-edit"></i></button>
  <button [hidden]="!meal.name" type="button" class="btn btn-danger" ><i class="fa fa-trash"></i></button>
</td>